<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <div class="container">
    <section class="main"><%- body %></section>
    <aside>
      <div class="recent-posts"></div>
      <div class="tags"></div>
    </aside>
  </div>
  <%- partial('_partial/footer') %>
</body>