@import "nib"

global-reset()

*
*::before
*::after
  box-sizing: border-box

a 
  text-decoration: none

body 
  min-height: 100%
  background: url(https://ooo.0o0.ooo/2016/06/20/5768c606cf9cb.jpg)
  .container
    display: flex
    justify-content: space-between
    min-height: calc(100vh - 192px)
    width: 1140px
    margin: 0 auto
    @media screen  and (max-width: 1200px) and (min-width: 770px)
      width: 90%
    @media screen and (max-width : 770px)
      width: 95%
      min-height: calc(100vh - 178px)
    .main
      width: 70%
      padding: 20px
      box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 30px rgba(10,10,0,0.1) inset
      background: #f8f8fd
      @media screen and (max-width: 770px)
        width: 100%
        padding: 10px
    aside
      width: calc(30% - 20px)
      @media screen and (max-width: 770px)
        display: none
      .recent-posts
      .tags
        min-height: 250px
        padding: 20px
        box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 30px rgba(10,10,0,0.1) inset
        background: #f8f8fd
      .tags
        margin-top: 20px
    .no-tags
    .no-posts
      font-size: 18px
      color: #999
      padding: 50px 0
      text-align: center
    

@import "_partial/header"
@import "_partial/article"
@import "_partial/archive-post"
@import "_partial/archive"
@import "_partial/tags"
@import "_partial/recent-posts"
@import "_partial/footer"