<footer>
  <p>本站记录我前端之旅的沿途风景</p>
  <p>本站总访问量1376次，本站访客数344人次</p>
  <p>Site powered by  <a href="https://hexo.io" target="_blank">Hexo</a>  & <a href="https://pages.github.com/" target="_blank">Github Pages</a> . Theme design by HyG</p>
</footer>
<%- js('js/script') %>