.recent-posts
	h3
		margin-bottom: 10px
		padding: 10px 0
		border-bottom: 1px solid #eaecef
	.post-list-item
		display: box
		box-orient :vertical
		line-height: 30px
		line-clamp: 2
		border-bottom: 1px dot #eaecef
		.post-list-link
			color: #444;
			&:hover
				color: #1094e8
		